[Desktop Entry]
Type=Application
Name=Battnot
Comment=Notification Battery
Exec=sh -c '$HOME/Baterai/bin/CheckBattery'
StartupNotify=false
Terminal=false
